* {
    box-sizing: border-box;
}

body {
    @include font-smoothing();
    margin: 0;
    padding: 0;
    background: #eeeeee;
}

img {
    max-width: 100%;
    display: inline-block;
}

svg {
    fill: currentColor;
}