.header {
  padding: 1rem 0;
  background: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include contain();
  }

  &__title {
    margin: 0;
    line-height: 1;
  }

  &__logo {
    width: 20rem;
  }
}
